<tr>
  <td><%= link_to tag.id, tag_path(tag) %></td>
  <td><%= link_to tag.name, tag_path(tag) %></td>
  <td><%= tag.created_at %></td>
  <td>
  <div class="row">
    <div class="col-md-4">
      <%= link_to content_tag(:i, "" ,class: 'fa fa-pencil', 'aria-hidden': true), edit_tag_path(tag), title: '编辑', 'data-toggle': 'tooltip' %>
    </div>
    <div class="col-md-4">
      <%= link_to content_tag(:i, "" ,class: 'fa fa-minus', 'aria-hidden': true), tag_path(tag), method: :delete, title: '删除', 'data-toggle': 'tooltip' %>
    </div>
    <div class="col-md-4">
      <%= link_to content_tag(:i, "" ,class: 'fa fa-file-text', 'aria-hidden': true), new_article_path(tag_id: tag.id), title: '新建文章', 'data-toggle': 'tooltip' %>
    </div>
  </div>


  </td>
</tr>